body {
  max-width: 1040px;
  line-height: 1.5;
  font-size: 100%;
  color: #FFF;
  background: #001933;
  min-width: 320px;
  padding:1%;
}
#self-image {
  border-radius: 50%;
}

/*TEXT STYLES
=======================================*/
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.75em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}
p {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 25px;
  line-spacing: ;
}
blockquote {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.0em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
pre {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: .68em;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}
p {
  font-size: 1em;
  padding: 2px;
}
footer {
  border: solid 1px orange;
  padding-left: 10px;
  margin: 0 20% 4% 10%;
}

/*LINK STYLES
=======================================*/
a, a:link, a:active {
  text-decoration: none;
  color: black;
}
a:hover, a:focus {
  color: #29506D;
}
a:visited {
  color: black;
}

@media only screen and (min-width: 780px) {
  body {
    background: #001933;
  }
}
