#main-section {
  min-width: 320px;
}
.heading-group-h1 {
  max-width: 80%;
}

@media only screen and (min-width: 770px) {
  .heading-group-h1 {
    padding: .1em .1em .1em 2em;
    float: none;
  }
}
